<div class="container theme-showcase" role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>About</h1>
    <p>This is an overview of the solutions installed on this puppet master. This is a mockup for design purposes showcasing the user features for managed services.</p>
  </div>

  <div class="col-lg-4 col-sm-6 text-center" {{action "over" on="mouseEnter"}}>
    <div {{action "out" on="mouseLeave"}}>
      {{#if overDiv}}
              You are over div now!
      {{/if}}

      <img class="img-circle img-responsive img-center" {{bind-attr src=image}} alt="">
      <h3>{{name}}
          <small>{{title}}</small>
      </h3>
      <a {{bind-attr href=twitter}}>Twitter</a>
    </div>
  </div>

</div>
